<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.workcenter.dao.FlowTaskMapper" >
  <resultMap id="BaseResultMap" type="cn.workcenter.model.FlowTask" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="processdefinition_id" property="processdefinitionId" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="actor_type" property="actorType" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="node_id" property="nodeId" jdbcType="BIGINT" />
    <result column="start_node_id" property="startNodeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, processdefinition_id, description, actor_type, role_id, group_id, node_id, start_node_id
  </sql>
  <sql id="fta_Base_Column_List">
  	fta.id, fta.name, fta.processdefinition_id as processdefinitionId, fta.description, fta.actor_type as actorType, fta.role_id as roleId, fta.group_id as groupId, fta.node_id as nodeId, fta.start_node_id as startNodeId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from base_flow_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from base_flow_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.workcenter.model.FlowTask" >
    insert into base_flow_task (id, name, processdefinition_id, 
      description, actor_type, role_id, group_id,
      node_id, start_node_id)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{processdefinitionId,jdbcType=BIGINT}, 
      #{description,jdbcType=VARCHAR}, #{actorType,jdbcType=INTEGER}, #{roleId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, 
      #{nodeId,jdbcType=BIGINT}, #{startNodeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.workcenter.model.FlowTask" >
    insert into base_flow_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="processdefinitionId != null" >
        processdefinition_id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="actorType != null" >
        actor_type,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="startNodeId != null" >
        start_node_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="processdefinitionId != null" >
        #{processdefinition_id,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="actorType != null" >
        #{actorType,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="startNodeId != null" >
        #{startNodeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.workcenter.model.FlowTask" >
    update base_flow_task
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="processdefinitionId != null" >
        processdefinition_id = #{processdefinitionId,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="actorType != null" >
        actor_type = #{actorType,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="nodeId != null" >
        node_id = #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="startNodeId != null" >
        start_node_id = #{startNodeId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.workcenter.model.FlowTask" >
    update base_flow_task
    set name = #{name,jdbcType=VARCHAR},
      processdefinition_id = #{processdefinition_id,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      actor_type = #{actorType,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=BIGINT},
      group_id = #{groupId,jdbcType=BIGINT},
      node_id = #{nodeId,jdbcType=BIGINT},
      start_node_id = #{startNodeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getFlowTaskByProcessinstanceidandNodeid" parameterType="java.util.Map" resultType="cn.workcenter.model.FlowTask">
  	select
  	<include refid="fta_Base_Column_List" />
  	from base_flow_task fta
  	inner join base_flow_processinstance fpr on fpr.processdefinition_id = fta.processdefinition_id
  	where fpr.id = #{processinstance_id} and fta.node_id = #{node_id}
  </select>
</mapper>